{% extends 'template_base.html' %}
{% block contenido %}
	<div class="col-md-10 col-md-offset-1 capacity">
		
		<div class="row">
			<h3 class="ask_title titulos"></h3>
			
			<hr>
			
			<div class="ask_summary"></div>
				
		</div>
		<div class="row">
			<h3 class="titulos">Tu respuesta</h3>
			<div class="col-md-8 col-sm-8 col-xs-8 col-sm-offset-2">
				<form class="" id="form_answer_foro">
		      		<button class="btn btn-default pull-right" type="submit" name="action">Responder</button>
		      	</form>
			</div>	
		</div>
		
		<div class="row">
			<h3 class="titulos">Respuestas</h3>
			<div class="answer"></div>
		</div>
		
	</div>
	
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		ForumService.get_Detail_Ask();
		ForumService.get_Answers();
		// ::::FORO ::::
		//form Answer from Ask  at Foro
		form_answer_foro = $("#form_answer_foro");
		create_form(URL_CREATE_ANSWER_FORO, form_answer_foro, 'OPTIONS');
		form_answer_foro.submit(function (e) {
			e.preventDefault();
			ForumService.create_answer(form_answer_foro, URL_CREATE_ANSWER_FORO);
		})
	</script>
{% endblock scripts %}