{% extends "foro_parent.html" %}

{% comment %}
	template for view a ask with his answers and comments 
{% endcomment %}

{% load staticfiles %}

{% block foro_content %}
	<div class="col-md-12">

		<div class="row">

			<!-- se pega el titulo de la pregunta -->
			<h3 class="ask_title titulos"></h3>
			<h3 class="ask_edit titulos" hidden>edita tu pregunta</h3>
			
			<div class="col-md-9 content_ask">

				<!--formulario oculto en caso de editar -->
				<form class="margen_contenido" id="form_ask_edit_foro" hidden>
					<textarea id="id_textarea_ask" name="content" data-provide="markdown" rows="10"></textarea>
					<br>
	      			<button class="btn btn-default pull-right" type="submit" name="action">Actualizar</button>
	      		</form>
				
				<!-- se pega el contenido de la pregunta -->
				<p class="ask_summary"></p>

				<div class="col-md-10 col-sm-offset-1">

					<!-- contenedor de los comentarios -->
					<div id="list-comment-ask">	</div>
					<div class="load-comment-ask" hidden><a>Ver más</a></div>

				</div>

				
				<div class="col-md-10 col-sm-offset-1">
					<!-- formulario para crear el comentario -->
						<form id="form-comment-ask" hidden>
							<div class="form-group">
								<input class="form-control" autocomplete="off" type="text" id="id_text" name="text">
							</div>
							<div class="form-group">
								<input type="hidden" id="id_parent" name="parent">
							</div>

							<button id="btn-comment" class="btn btn-default pull-right" type="submit" name="action">Comentar</button>
						</form>	
					
				</div>
				
			</div>

			<!-- contenedor con info sobre la pregunta -->
			<div class="col-md-3 info_ask">
				<p>
					Preguntado por:
				</p>
						<a class="ask_author_link">
							<span class="ask_author"></span>
						</a>
				
				<p class="ask_added_at"></p>
			</div>
		</div>

		<!-- contenedor con las respuestas de la pregunta -->
		<div class="row">
			
			<h3 class="titulos"><span class="count-answer"></span></h3>
			
			<div class="answer"></div>
			
			<div class="">
				<nav style="text-align:center">
		  			<ul class="pagination">
		    			<li id="answer_next">
		      				<a href="#" aria-label="Next">
		        			<span aria-hidden="true">&raquo;</span>
		      				</a>
		    			</li>
		  			</ul>
				</nav>
			</div>
			
			<form id="form-comment-clone" hidden>
				<div class="form-group">
					<input class="form-control" autocomplete="off" type="text" id="id_text" name="text">
				</div>
				<div class="form-group">
					<input type="hidden" id="id_parent" name="parent">
				</div>


				<button id="btn-comment" class="btn btn-default pull-right" type="submit" name="action">Comentar</button>
			</form>
		</div>

		<!-- contenedor con el formulario para dejar mi respuesta -->
		<div class="row your_answer">
			<h3 class="titulos">Tu respuesta</h3>

			<div class="col-md-8 col-sm-8 col-xs-8 col-sm-offset-2">
				<form class="" id="form_answer_foro" hidden>
					<textarea id="id_textarea_answer" name="content" data-provide="markdown" rows="10"></textarea>
					<br>
					<button class="btn btn-default pull-right" type="submit" name="action">Responder</button>
		      	</form>
		      	<div class="my-answer"></div>
			</div>		
		</div>



	</div>
	

	
{% endblock foro_content %}

{% block scripts %}
	<script type="text/javascript">


	var id = function ()
	{
		//Se obtiene el id 
		var id = location.pathname.split("/");
		id = id[id.length-1];
		//console.log(id)
		return id;
	}

	var askView = new AskView();
	askView.retrieve(URL_DETAIL_ASKS_FORO+id());

	var answerView = new AnswerView(id());
	answerView.list(URL_GET_ANSWERS_FORUM+id());

	
	var answerForm = new AnswerForm(id());
	answerView.set_scroll_list(URL_GET_ANSWERS_FORUM);


	//###   COMMENT   ###
	console.log("parent: "+id())
	var comentariosAsk = new CommentView(
		id(),
		$("#form-comment-ask"),
		$('#list-comment-ask'),
		$(".load-comment-ask")
	);		
	comentariosAsk.load();
	comentariosAsk.load_create_comment(id());
	//###   end COMMENT   ###



	</script>
{% endblock scripts %}