{% extends 'template_base.html' %}
{% block contenido %}
	<div class="col-md-10 col-md-offset-1 capacity">
		<h2 class="titulos">Crea tu pregunta</h2>
		<br>
		<h4>Participa</h4>

		<div class="col-md-6 col-sm-6 col-xs-8 col-sm-offset-1 margen_contenido">
			<form class="" id="form_ask_foro" hidden>
				<div id="editor"></div>   
	      		<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
	      	</form>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base margen_contenido">
			<h4>¿Cómo preguntar?</h4>
			<p>Esto es sobre algoritmia
			Se específico, detalla bien tu duda o inconveniente, la comunidad está para ayudarte y tu eres parte de ella...bla bla bla</p>
		</div>
	</div>

{% endblock %}

{% block scripts %}
{% load staticfiles %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
<link href="{% static 'libs/bootstrap-markdown-editor/dist/css/bootstrap-markdown-editor.css' %}" rel="stylesheet">
<script src="{% static 'libs/marked/marked.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-markdown-editor/dist/js/bootstrap-markdown-editor.js' %}"></script>

	<script>
            jQuery(document).ready(function($) {
            	// ::::FORO ::::
				//form Ask Foro
				form_ask_foro = $("#form_ask_foro");
				create_form(URL_CREATE_ASK_FORO, form_ask_foro, 'OPTIONS');
				
				form_ask_foro.submit(function (e) {
					e.preventDefault();
					create_ask(form_ask_foro, URL_CREATE_ASK_FORO);
				})

				$("#form_ask_foro").show()
				$("#id_text").hide()
                $('#editor').markdownEditor({
                    preview: true,
                    onPreview: function (content, callback) {
                        callback( marked(content) );
                    }
                });

            });
	</script>
{% endblock scripts %}