{% extends "template_foro_parent.html" %}
{% comment %}
	template for create a ask 
{% endcomment %}

{% block section_title %}
	<h3 class="sub-section">Crear</h3>
{% endblock section_title %}

{% block module %}
	<br>
		<div class="col-md-7 col-sm-7 col-xs-7  ">
			<form class="" id="form_ask_edit_foro" hidden>
				<textarea id="id_textarea" name="content" data-provide="markdown" rows="10"></textarea>
				<br>
	      		<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
	      	</form>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base ">
			<h4>¿Cómo preguntar?</h4>
			<p>Esto es sobre algoritmia
			Se específico, detalla bien tu duda o inconveniente, la comunidad está para ayudarte y tu eres parte de ella...bla bla bla</p>
		</div>
	

{% endblock module %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//form Ask Foro
			//ForumView.initialize($("#form_ask_foro"), $("#id_textarea"));

			var form = new AskForm();
		});
	</script>
	
{% endblock scripts %}