{% extends "foro_parent.html" %}

{% comment %}
	template for listing wiki pages
{% endcomment %}

{% block foro_content %}
	<div class="col-md-12 asks">
	</div>

{% endblock foro_content %}

{% block scripts %}
	<script>

	/*
	var asks = new AskService();
	asks.create(URL_CREATE_ASK_FORO, {})
	*/

	var ask = new AskView();
	ask.list(URL_LIST_ASKS_FORO);

	var mod_slug = "{{mod_slug}}";

	$(window).scroll(function() {
    if($(window).scrollTop() == $(document).height() - $(window).height()) {
			ask.scroll_list(URL_LIST_ASKS_FORO);          
    	}
	});

	</script>
{% endblock scripts %}