{% extends 'template_base.html' %}
{% block contenido %}
{% load staticfiles %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/ask.css' %}">	
{% endblock head %}
	<div class="col-md-12 capacity">
		<!--<h2 class="titulos">Bienvenido al Foro </h2>
		<br>-->
		{% include 'nav_foro.html' %}

		<!--<a class=" btn-create pull-right margen_contenido" href="{% url 'front_foro:create' %}">
			Crea una nueva discusión
		</a>-->
		<div class="asks margen_contenido">

		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		ForumService.get_Asks();
		//ForumService.get_Answers(URL_GET_ANSWERS_FORUM, show_detail_answers);
	</script>
{% endblock scripts %}