{% extends "template_foro_parent.html" %}

{% comment %}
	template for listing wiki pages
{% endcomment %}

{% block section_title %}
	<h3 class="sub-section">Inicio</h3>
{% endblock section_title %}

{% block module %}
	<div class="asks">
	</div>

{% endblock module %}

{% block scripts %}
	<script>

	/*
	var asks = new AskService();
	asks.create(URL_CREATE_ASK_FORO, {})
	*/

	var mod_slug = "{{mod_slug}}";

	var url = URL_ALL_ASK_MODULE.replace(/\%slug%/g, mod_slug);
	var ask = new AskView();
	ask.list(url);//URL_LIST_ASKS_FORO

	$(window).scroll(function() {
    if($(window).scrollTop() == $(document).height() - $(window).height()) {
			ask.scroll_list(URL_LIST_ASKS_FORO);          
    	}
	});

	</script>
{% endblock scripts %}