{% extends "template_foro_parent.html" %}
{% comment %}
	template for create a ask 
{% endcomment %}

{% block section_title %}
	<h3 class="sub-section">Crea una nueva discusión</h3>
{% endblock section_title %}

{% block module %}
	<br>
		<div class="col-md-6 col-sm-offset-3" style="padding-bottom:100px;">
			<form class="" id="form_ask_edit_foro" hidden>
				<textarea id="id_textarea" name="content" data-provide="markdown" rows="10"></textarea>
				<br>
	      		<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
	      	</form>
		</div>
		

{% endblock module %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//form Ask Foro
			//ForumView.initialize($("#form_ask_foro"), $("#id_textarea"));

			var form = new AskForm();
		});
	</script>
	
{% endblock scripts %}