{% extends 'nav.html' %}
{% block title %}
	<a href="{% url 'front_foro:foro' mod_slug %}" >
		<span class="navbar-brand" id='title-nav'>Foro <span id="module_name"></span></span>
	</a>
{% endblock title %}		

{% block items %}

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_foro:foro' mod_slug %}">discusiones</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_foro:create' mod_slug %}">Crea una nueva discusión</a>
	</li>

{% endblock items %}
	
{% block scripts %}
	<script>
		active();

	var slug = "{{mod_slug}}";

	var module = new ModuleView();
	module.render_module_name(
		slug,
		$("#module_name")
	);
	</script>
{% endblock scripts %}

