{% extends 'template_activities_parent.html' %}

{% block section_title %}
	<h3 class="sub-section">Inicio</h3>
{% endblock section_title %}

{% block module %}
	<div id="activitie" class="list_activities"></div>
	<span id="id_msg"></span>
{% endblock module %}

{% block scripts %}
	<script>
		var url = URL_ALL_ACTIVITIE_MODULE.replace(/\%slug%/g, "{{mod_slug}}");
		
		var activitie = new ActivitieParentView();
		activitie.list(url);
		//URL_ALL_ACTIVITIE_PARENT
	</script>
{% endblock scripts %}