{% extends 'nav.html' %}
		
{% block items %}

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_activities:activities' mod_slug%}">
			<span class="fa fa-puzzle-piece" aria-hidden="true"></span>
		</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_activities:create' mod_slug %}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_activities:activitiesList' mod_slug %}">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		</a>
	</li>

	<!--
	<li class="section-nav" role="presentation">
		<a href="">
			<span class="" aria-hidden="true">Resultados</span>
		</a>
	</li> -->


{% endblock items %}
	
{% block scripts %}
	<script>
		active();
		
		var slug = "{{mod_slug}}";
		var module = new ModuleView();
		module.render_module_name(
			slug,
			$("#module_name")
		);
	</script>
{% endblock scripts %}

