    
  <div class=" col-md-3">
  	
  	<div id="list_chat">
						
	</div>
	
	<div id="room" class='room' hidden>
		<div>
			<h5 id="title_chat"></h5>	
		</div>
		<div id="chatEntries" class="chatEntries">
			
		</div>
		<div>
			<input id="messageInput" class="messageInput" type="text">
		</div>
	</div>

	<div id="roomAll" class='room'>
		<div>
			<h5 id="title_chat">Chat de todos</h5>	
		</div>
		<div id="chatAll" class="chatEntries">
			
		</div>
		<div>
			<input id="messageInputAll" class="messageInput" type="text">
		</div>
	</div>
	
	<div id="list-room">
		
	</div>
  </div>
