<div id='main-users-resizer' class='ui-widget-content ui-corner-all' >
  <div class='ui-widget-header'>
    <button id='min-main-chat' class='ui-button ui-state-default ui-corner-all ui-button-icon-only minimize-main' title='Minimizar'>
      <a href='#'>
        <span class='ui-icon ui-icon-minus'></span>
        <span class='ui-button-text' style='float: right; padding: 2px;'>.</span>
      </a>
    </button>
    <div id='chat-title'>
      Chat
    </div>
  </div>
  <!--<div>
    <div>
      <button id='rerun'><img id='rerun-img'></button>
      <button id='rerun-select'>.</button>
    </div>
    <ul id='user-status'>
      <li id='user-status-online' class='user-status'><a class='online' style='padding-left: 15px; display: hidden;' href='#'></a></li>
      <li id='user-status-busy' class='user-status'><a class='busy' style='padding-left: 15px; display: hidden;' href='#'></a></li>
      <li id='user-status-offline' class='user-status'><a class='offline' style='padding-left: 15px; display: hidden;' href='#'></a></li>
      <li id='user-status-logout' class='user-status'><a class='logout' style='padding-left: 15px; display: hidden;' href='#'></a></li>
    </ul>
  </div>-->


  <div>
    <div class='chat-search-main'>
      <button id='chat-icon-search'>?</button>
      <input type='text' id='chat-search-text' class='chat-search-text-st' />
      <button id='chat-icon-close'>X</button>
    </div>
  </div>
  <div id='slider'></div>
  <div id='users'>
    <h3>
      <span id='users-header'></span>
       (<span id='users-header-num'></span>)
    </h3>
    <div id='users-window-chat' class='slider_container'>
      <div id='main-sort-chat' class='main-chat-window'>
        
      </div>
    </div>
    <h3>Chat Global</h3>
      <div id="roomAll" >
        <div id="chatAll" >
          
        </div>
        
          <input id="messageInputAll"  type="text" placeholder="escribe un mensaje">
        
    </div>
  </div>
</div>
<audio id='audio-popup' controls style='display: none;'>
  <source src='http://127.0.0.1:8000/static/sounds/popup.mp3' type='audio/mpeg'>
  <source src='http://127.0.0.1:8000/static/sounds/popup.ogg' type='audio/ogg'>
  <embed src='http://127.0.0.1:8000/static/sounds/popup.mp3'>
</audio>
