{% extends "template_material_parent.html" %}

{% comment %}
	template for listing wiki pages
{% endcomment %}

{% block section_title %}
	<h3 class="sub-section">Crea un nuevo Material</h3>
{% endblock section_title %}

{% block module %}

		<!--aqui se muestran los mensajes de succes-->
		<div id="msg_succes" hidden></div>
		<br><br><br>	
		<!--formulario para subir material-->
		<div class="col-md-12">
			<div class="col-md-6 col-sm-offset-3">
				
				<form id="form_create_material" enctype="multipart/form-data" hidden>
			    	{% csrf_token %}
			    	<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
				</form>	

			</div>
		</div>
		

{% endblock module %}

{% block scripts %}
<script>

	function load_form(hash)
	{
	
		//$("#form_create_material").find(".form-group").remove();
		$("#form_create_material").find("div").fadeOut();
		
		var formMaterial = new MaterialForm(
			$("#form_create_material"),
			hash
			//MaterialView.prototype.handler_created_form
		)
	}

	var slug = "{{mod_slug}}";
	var material = new MaterialView();

	if(window.location.hash) {
	  	// Fragment exists
		load_form(window.location.hash);	
		MaterialView.prototype.handler_created_form($("#form_create_material"))

	} else {
	  	// Fragment doesn't exist
	  	console.info("no hast")
	  	window.history.back();
	}



	$("#id_act_file").click(function(e){
		load_form("#file");
	})

	$("#id_act_link").click(function(e){
		load_form("#link");
	})

	
	</script>
{% endblock scripts %}