/*Template base*/

.page-header{
	background-color: #D51B23;
    color:  white;
    margin-top: 0;
    height: 100px;	
}

/*elementos page header*/
.page-header a{
	text-decoration: none;
    color:white;	
}

.container-header{
	padding-top: 15px
}

.singin{
	margin-top: 24px;
}


.footer
{
	background-color: #D51B23;
    color:  white;
    margin-top: 50px;
    margin-bottom: 0;
    height: 77px;
}

.footer .container{
	background-color: #7F1015;
}

.capacity{
	min-height: 400px;
	margin: 0 0 3% 0;
}

.recoveryPassword{
	text-align: center;
}

hr{
	border-color: #ccc;
}
