/*Template base   

*/

body{
	font-family: 'OpenSans-Regular.ttf';
}

.glyphicon{
	cursor: pointer;
}

.page-header{
	background-image: url("../../static/img/overlay2.png"), url("../../static/img/overlay3.svg"), linear-gradient(45deg, #EF0909 5%, #E02C2C 50%, #EF0909 ); /*#F48080*/
	background-position: top left,	center center,	center center;
  	background-size: auto,	cover,	cover;
	background-color: #D51B23;
    color:  white;
    margin-top: 0;
    height: 60px;	
    border-bottom: 10px solid  #7F1015;
    margin-bottom: 0px;
}

/*elementos page header*/
.page-header a{
	text-decoration: none;
    color:white;	
}

.container-header{
	padding-top: 15px
}

/*--elementos del footer-*/
.footer
{
	background-color: #D51B23;
    color:  white;
    margin-top: 50px;
    margin-bottom: 0;
    height: 77px;
}

.footer .container{
	background-color: #7F1015;
	text-align: center;
	
}

/*donde va el contenido*/
.capacity{
	min-height: 400px;
	/*margin: 0 0 3% 0;*/

	margin-bottom: 3%;
}

hr{
	border-color: #ccc;
}


.margen_contenido{
	margin-top: 30px;
}

.btn-create{
	padding: 10px;
	border: 1px solid #ccc;
	margin-right:5px;
}

/*Profile*/
/*
.header_profile{
	min-height: 180px
}*/

.resume_profile{
	
	font-size: 18px;
}

/*
.resume_user_profile{
	margin-left: 95px;
}*/

.pic_profile{
	width: 102px;
}

.picture{
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	background-color: #eee;
	/*display: flex;
  	position: absolute;
  	z-index: 1;*/
  	border: 1px solid #ccc;
  	padding:0;
}


/*FOTOS */

.img-thumbnail{
	border-radius: 6px;
}

.img-rounded{
	border-radius: 6px;
	padding: 5px;
}

  

/*introduccion*/
.slide2{
	background-image: url("../../static/img/overlay1.png");
	background-color: rgba(0,0,0,0.7);
}

.intro-img{
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.intro-img:hover{
	background-color: #eee;
}

.introduction-pic{
	width: 50%;
	margin: 0px auto;
}


#form_update_user{
	margin-bottom:50px;
	margin-top: 50px;
	margin-right: 20px;
}


#div_form_login{
	margin-left: 20px;
}

/*MODULOS*/

.info-module{
	min-height: 655px;
	background-color: #b79350;
	color: white;
	padding: 20px;

}

.section-module{
	min-height: 100px;
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
}

.section-module:hover{
	background-color: #eee;
}

/* ::FORO:: */
/*list ask*/
.number_answer{
	margin-top: -20px;
	padding: 10px;
	background-color: #ccc;
}

/* square of info */
.base{
	box-shadow:	1px 1px 3px #888888;
	padding: 10px;
}


/*nav sections*/
.navigation{	
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding: 15px 15px 0px 3px;
	padding: 10px 0px 0px 3px;
}

#title-nav{
	padding: 15px 15px;
}
.navbar-brand {
	font-size: 30px;
	padding: 0;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #333;
}

.navbar-default {
	color: black;
	border:none;
	background-color: transparent;
	border-bottom: 1px solid #eee;
	padding: 0px;
}

.navbar-default .navbar-brand {
  color: #333;
}

.section-nav{
	background-color: #eee;	
	margin-right: 5px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #D51B23;
	color: white;
}



/*asks*/
.info_ask{
	/*width: 227px;
	margin-left: 10px;*/
	box-shadow: 1px 1px 3px #888888;
	padding: 10px;
}

.ask_summary{
	margin-top: 10px;
}
/*answer*/

.titulos{
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 15px;
}

.content_answer{
	width: 675px;
}

.info_user_answer{
	width: 225px;
}

#form_answer_foro{
	margin-top: 20px;
}

.your_answer{
	margin-top: 20px;
}

/*respuestas de las preguntas del foro*/
.response{	
	display:flex;
	margin: 5px;
	border-bottom: 3px double #ccc;	
	padding: 10px 10px 10px 30px;
}

/*comentarios*/
#list-comment{
	margin-top: 20px;
	border-top: 1px solid #ccc;
}

.comments{
	margin: 10px;
	border-bottom: 1px solid #ccc;
}

.link_comment{
	margin-top: 20px;
}


/*--------*/

.confirmation-delete{
margin-top: 100px;
	
}

.alert-none{
	top: 0px;
	bottom: 0px  !important;
	left:  0px  !important;
	width: 100%;
	background: rgba(0,0,0,0.8);
}

/*----------------
	WIKI
------------------*/
.page_list{
	border-bottom: 1px solid #eee;
	padding: 10px;
}

/*----------------
	EVALUATIONS
------------------*/

#container-continue{
	padding: 15px;
    /*height: 80px;*/
    margin-top: 20px;
    display: block;
    /*background-color: #eee;*/
    display: none;
}

#container-check{
	padding: 15px;
    /*height: 80px;*/
    margin-top: 20px;
    display: block;
    /*background-color: #eee;*/
}

#score{
	font-size: 33px
}

#percent{
	font-size: 33px
}

/*----------------
	BADGES
------------------*/

#badge_pic{
	width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/*----------------
	CHAT
------------------*/
#title_chat{
	background: #D51B23;
    padding: 5px;
    margin: 0px;
    color: white;
}

.room{
	border: 1px solid #ccc;
}

.chatEntries{
	height: 200px;
	overflow-y: auto
}

.message{
	padding: 20px;
	overflow: hidden;
	text-align: left;
	-webkit-animation-name: flip;
    -webkit-animation-duration: 500ms;	
}

.messageInput{
	width: 90.4%;
    bottom: 0%;
    position: absolute;
}

.self{
	background-color: #eee;
	text-align: right;
}

@-webkit-keyframes flip {
	0% {
		-webkit-transform: rotateX( 90deg );
	}
	100% {
		-webkit-transform: rotateX( 0deg );
	}
}
