/*Template base   

*/

body{
	font-family: 'OpenSans-Regular.ttf'
}


.page-header{
	background-image: url("overlay2.png"), url("overlay3.svg"), linear-gradient(45deg, #EF0909 5%, #E02C2C 50%, #EF0909 ); /*#F48080*/
	background-position: top left,	center center,	center center;
  	background-size: auto,	cover,	cover;
	background-color: #D51B23;
    color:  white;
    margin-top: 0;
    height: 100px;	
    border-bottom: 10px solid  #7F1015;
}

/*elementos page header*/
.page-header a{
	text-decoration: none;
    color:white;	
}

.container-header{
	padding-top: 15px
}


.footer
{
	background-color: #D51B23;
    color:  white;
    margin-top: 50px;
    margin-bottom: 0;
    height: 77px;
}

.footer .container{
	background-color: #7F1015;
	text-align: center;
	
}

.capacity{
	min-height: 400px;
	margin: 0 0 3% 0;
}

hr{
	border-color: #ccc;
}
  

/*introduccion*/
.seccion{
	margin-bottom:50px;
	margin-top: 50px;
	margin-right: 20px;
}