{% extends "gamification_parent.html" %}
{% comment %}
	template for create a ask 
{% endcomment %}

{% load staticfiles %}

{% block gamification_content %}
	<div class="col-md-12">
		<h3 class="titulos">Crea una insignia </h3>
		<br><br>
		<div class="col-md-7 col-sm-7 col-xs-7  ">
			<form class="" id="form_badge" hidden>
				<br>
	      		<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
	      	</form>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base ">
			<h4>¿badges?</h4>
			<p>medallas ....</p>
		</div>
	</div>

{% endblock gamification_content %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {

			form = $('#form_badge')
			var gamificationView = new GamificationView();
			gamificationView.initialize(form, URL_CREATE_BADGE)
			gamificationView.create_badge(form)
			

			
		});
	</script>
	
{% endblock scripts %}