{% extends "gamification_parent.html" %}
{% comment %}
	
{% endcomment %}

{% load staticfiles %}

{% block gamification_content %}
	<div class="col-md-12">
		
		<!-- tabla con la lista de los usuarios que han ganado medalla -->
		<h2>Usuarios con medallas ganadas</h2>
		<hr><br>
		<div class="table-responsive" id="show_">
			<table class="table table-hover">
  				<thead>
					<tr>
						<th>#</th>
						<th>Usuario</th>
						<th>Medalla</th>
					</tr>
				</thead>
				<tbody id="list-award">
					
				</tbody>
			</table>
		</div>

	</div>
{% endblock gamification_content %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			
			var gamificationView = new GamificationView();
			gamificationView.get_all_award()
		});
	</script>
	
{% endblock scripts %}