{% extends "gamification_parent.html" %}
{% comment %}
	template for list 
{% endcomment %}

{% load staticfiles %}

{% block section_title %}	
	<h3 class="sub-section">Mira las medallas creadas</h3>
{% endblock section_title %}


{% block gamification %}
	<br><br><br>
	<div class="col-md-12">
		
		<!-- tabla con la lista de las medallas -->
		<!--<h2>Medallas</h2>
		<hr><br>-->
		
		<div class="table-responsive" id="show_">
			<table class="table table-hover">
  				<thead>
					<tr>
						<th>#</th>
						<th>Titulo</th>
						<th>Descripcion</th>
					</tr>
				</thead>
				<tbody id="list-badges">
					
				</tbody>
			</table>
		</div>
	</div>
{% endblock gamification %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			
			var gamificationView = new GamificationView();
			gamificationView.get_all_badges()

		});
	</script>
	
{% endblock scripts %}