{% extends 'activities_parent.html' %}
{% block contenido %}
	<div class="col-md-8 capacity">
		<div class="col-md-6 col-sm-6 col-xs-8 col-sm-offset-1 margen_contenido">
		
	<!--aqui se muestran los mensajes de succes-->
		<div id="msg_succes" hidden></div>
		

	<!--formulario para crear una actividad (parent)-->
		<form id="form_create_activitie" hidden>
			<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
		</form>
		
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
	var activitie = new ActivitieParentView();
	var formAvtivitie = new ActivitieParentForm(
		$("#form_create_activitie"),
		ActivitieParentView.prototype.handler_created_form)
	
	</script>
{% endblock scripts %}