{% extends 'template_activities_parent.html' %}
{% load staticfiles %}

{% block module %}
	<div class="col-md-8 capacity">
	<!--aqui se renderiza la actividad-->
		<div class="col-md-12" id="activitie" hidden></div>
		

		<div class="col-md-12">
			<div class="col-md-4 col-md-offset-4" style="text-align:center">
				<!--boton para enviar una actividad (child)-->
				<button id="btn_active_send" class="btn btn-default" type="button">Enviar Actividad</button>

				<!--formulario para enviar una actividad (child)-->
				<div id="send_activitie" hidden>
					<form id="form_send_activitie">
						<button class="btn btn-default " type="submit" name="action">Enviar</button>
					</form>
				</div>

				<!--formulario para editar actividad (parent)-->
				<form id="form_edit_activitie" hidden>
						<button class="btn btn-default pull-right" type="submit" name="action">Guardar</button>
				</form>
			</div>
		</div>
		<div class="col-md-12">
			<hr>
		</div>
		<!--aqui se renderizan las actividades enviadas-->	
		<div class="col-md-12">

			<div id="list_activitie" >
				<div id="title_list_activitie" >Soluciones Enviadas</div>	

			</div>

			<!--aqui se renderizan los mensajes de la lista de actividades (child)-->
			<div id="msg_list_activitie"></div>
		 
		</div>
		<div class="col-md-12">
			<hr>
		</div>
	<!--aqui se muestran los mensajes de succes-->
		<div id="msg_succes" hidden></div>
		
	
		<div class="col-md-8 col-md-offset-2">
		<!--Aqui se pegan los comentarios-->
			<div id="list-comment-act">	</div>

		<!-- formulario para crear el comentario -->
			
			<form id="form-comment-act" hidden>
				<div class="form-group">
					<input class="form-control" autocomplete="off" type="text" id="id_text" name="text">
				</div>
				<div class="form-group">
					<input type="hidden" id="id_parent" name="parent">
				</div>

				<button id="btn-comment" class="btn btn-default pull-right" type="submit" name="action">Comentar</button>
			</form>	
		</div>
	</div>
	
{% endblock module %}
{% block scripts %}

	<script>
	var url = location.pathname.split("/");
	ACTIVITIE_ID = url[url.length-1];

	var activitie = new ActivitieParentView();
	url = URL_RETREIVE_ACTIVITIE_PARENT+ACTIVITIE_ID;
	activitie.load_detail(url, $("#activitie"));


	//###   COMMENT   ###
	console.log("parent: "+ACTIVITIE_ID)
	var comentarios = new CommentView(
		ACTIVITIE_ID,
		$("#form-comment-act"),
		$('#list-comment-act'),
		$(".load-comment-act")
	);		
	comentarios.load();
	comentarios.load_create_comment(ACTIVITIE_ID);
	//###   end COMMENT   ###


	</script>
{% endblock scripts %}