{% extends 'template_activities_parent.html' %}

{% block section_title %}
	<h3 class="sub-section">Crear</h3>
{% endblock section_title %}

{% block module %}
	
	<br>
	<!--aqui se muestran los mensajes de succes-->
	<div id="msg_succes" hidden></div>
		

	<!--formulario para crear una actividad (parent)-->
		<form id="form_create_activitie" hidden>
			<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
		</form>

{% endblock module %}

{% block scripts %}
	<script>
	var slug = "{{mod_slug}}";
	var activitie = new ActivitieParentView();
	var formActivitie = new ActivitieParentForm(
		$("#form_create_activitie"),
		ActivitieParentView.prototype.handler_created_form)
	
	</script>
{% endblock scripts %}