
/* Initial menu */
.menu {
  background: rgba(238,238,238,0.95); 
  opacity: 1;
  border-right: 5px solid  #ccc;
  left: -100px;  /* start off behind the scenes */
  position: fixed;
  z-index: 2;
  width: 190px;
  height: 460px;
}

/* Basic styling */
.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
  color: black;
  border-bottom: 1px solid #ddd;
  /*line-height: 30px;*/
}

.menu a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  /*color: #D51B23;*/
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;
  padding-top: 17px;
}

.icon-menu i {
  margin-right: 5px;
}

/*acordeon*/
.panel-default>.panel-heading{
  color:  black;
  opacity: 0.7;
}