
/* Initial menu */


/* Basic styling */

#title_module{
  padding-left: 40px;
}

.menu ul {
  
  text-align: left;
  min-height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  margin: 10px 0 0 0;
  list-style: none;

  padding: 10px 0 0 0;
  font-size: 18px;
  text-align: center;
}

.menu li {
  
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.menu a {
  /*color: #fff;*/
  font-size: 15px;
  text-decoration: none;
}

#horizontal-bar{
  margin-top: 0px;
  margin-bottom: 0px;
}

.sub-section
{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.user_menu{
  text-align: center;
  border: 1px solid #ccc;
  padding-bottom: 15px;

}

/*---------------*/
.module-render{
  color: black;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height:100%;
  margin: 36px;
  padding: 10px 10px 10px 10px;
  opacity:1;
  transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
  -webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
  transform:scale(1,1);
  -webkit-transform:scale(1,1);
  text-decoration:none;
}

.module-render:hover{

  color: rgba(0,0,0,1);
  background:rgba(255,255,255,0.5);
  opacity:1;
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  text-decoration:none;

}

.img-module{
    
  
}

.pic-module{
  padding-top: inherit;;
  width: 100px;
  height: 100px;
  border-radius: 0px 25px 0px 25px;
  /*margin-top: 32px;*/
}

.text-module{
  word-wrap: break-word;
}
