{% extends 'activities_parent.html' %}
{% block activities_content %}
{% load staticfiles %}

	<div class="col-md-12 capacity">

		<div id="parent_activitie"></div>
		
		<!--aqui se renderizan las actividades enviadas-->
		<div id="title_list_activitie" hidden>Recibidos</div>
		<div id="list_activitie"></div>

		</div>
	</div>

{% endblock activities_content%}

{% block scripts %}
	<script>

		var id = location.pathname.split("/");
		var ACTIVITIE_ID = id[id.length-1];

		var activitie = new ActivitieParentView();
		url = URL_RETREIVE_ACTIVITIE_PARENT+ACTIVITIE_ID;
		activitie.load_detail(url, $("#parent_activitie"));


		var activitie = new ActivitieChildView();
		var url = URL_ALL_ACTIVITIE_CHILD.replace(/\%id%/g, ACTIVITIE_ID);
		activitie.list(url);
	</script>
{% endblock scripts %}