	<!-- mobile -->
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Titulo <a class="navbar-brand" href="#">Brand</a>-->
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  	<ul class="nav navbar-nav  pull-right">
  		{% block items %}
		{% endblock items %}
  	</ul>
  </div>

{% block scripts %}
	<script>
		active();
	</script>
{% endblock scripts %}