
<!DOCTYPE html>
<html>
	<head>				 
		{% load staticfiles %}
		<!--<link type="text/css" rel="stylesheet" href="{% static  'libs/materialize/css/materialize.min.css' %}"  media="screen,projection"/>-->
	
		 <!-- CDN -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" media="screen,projection">

		 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title></title>
	</head>
	<body class="container">
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Logo</a>
		      
		    	{% include 'login.html' %}
		    </div>
		  </nav>

		{% block contenido %}
				
		{% endblock %}
		<footer class="page-footer">
			<div class="container">
				<div class="footer-copyright">
            		<div class="container">
            			footer
            			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            		</div>
          		</div>
			</div>
		</footer>
	

	<!--CDN-->
	<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  	<!--
  	{% load staticfiles %}
	<script src="{% static 'libs/jquery/jquery.min.js' %}" ></script>
	<script src="{% static 'libs/materialize/js/materialize.js' %}" ></script>-->

	<!-- scripts de nostros -->	
	<script src="{% static 'js/manager.js' %}" ></script>
	<script src="{% static 'js/forms/form_register.js' %}" ></script>
	<script src="{% static 'js/forms/form_login.js' %}" ></script>
	<script src="{% static 'js/main.js' %}" ></script>
	</body>
</html>