<!DOCTYPE html>
<html>
	<head>				 
		{% load staticfiles %}
		<link type="text/css" rel="stylesheet" href="{% static  'libs/bootstrap/css/bootstrap.min.css' %}"  media="screen,projection"/>

		<link rel="stylesheet" href="{% static 'css/template_base.css' %}">
		<link rel="stylesheet" href="{% static 'css/estilo_menu.css' %}">
		<link rel="stylesheet" href="{% static 'css/loader.css' %}">

		<!--CDN
	<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  	-->
	<script src="{% static 'libs/jquery/jquery.min.js' %}" ></script>
	<script src="{% static 'libs/jquery/jquerysession.js' %}" ></script>
	<script src="{% static 'libs/jquery/jquery.cookie.js' %}" ></script>
	<script src="{% static 'libs/bootstrap/js/bootstrap.js' %}" ></script>
	<script src="{% static 'libs/bootstrap-notify/bootstrap-notify.min.js' %}" ></script>
	<script src="{% static 'libs/jquery/jquery.timeago.js' %}" ></script>
	<script src="{% static 'libs/jquery/jquery.timeago.es.js' %}" ></script>

	<!-- scripts de nostros -->	
	<script src="{% static 'js/urls.js' %}" ></script>
	<script src="{% static 'js/Notify.js' %}" ></script>
	<script src="{% static 'js/Error.js' %}" ></script>
	<script src="{% static 'js/services/UserServices.js' %}" ></script>
	<script src="{% static 'js/services/ForumServices.js' %}" ></script><!-- este es -->
	<script src="{% static 'js/services/WikiServices.js' %}" ></script><!-- este es -->
	<script src="{% static 'js/views/UserView.js' %}" ></script>
	<script src="{% static 'js/animacion_menu.js' %}" ></script> <!-- este es -->
	<script src="{% static 'js/manager_forms.js' %}" ></script>
	<script src="{% static 'js/forms/form_register.js' %}" ></script>
	<script src="{% static 'js/forms/form_create_ask.js' %}" ></script> <!-- este es -->
	<script src="{% static 'js/forms/form_login.js' %}" ></script>
	<script src="{% static 'js/forms/ChangePasswordForm.js' %}" ></script>
	<script src="{% static 'js/main.js' %}" ></script>
	<script src="{% static 'js/services/CommentServices.js' %}"></script>

	
	
		{% block head %}			
		{% endblock head %}
	
		 <!-- CDN 
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen,projection">

  		
		-->
		<link href="{% static 'libs/fonts/OpenSans-Regular.ttf' %}">


		<meta charset='utf-8'>
		<!--mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title>{{title}}</title>
	</head>
	<body>
		<header class="page-header">
			<div class="container container-header">
				<div class="col-md-6 col-sm-6 col-xs-8">
					<h1>
						<a href="/">Name Aplication</a>
					</h1>
					<div id="loader" class="loader">Loading...</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-4  singin">
					{% include 'login.html' %}
				</div>
			</div>
		</header>
		
		<div class="container">
			{% include 'menu_modulos.html' %}
		  	{% block contenido %}
				
			{% endblock %}
		</div>

		<footer class="footer">
    		<div class="container">
    			Universidad del Valle sede Tuluá
    		</div>
		</footer>
	

	
	{% block scripts %}
	{% endblock scripts %}
	</body>
</html>