{% extends 'resource_parent.html' %}
{% block resource_content %}
{% load staticfiles %}

	<div class="col-md-12 capacity">
		
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Eliminar</h3>
			  </div>
			  <div class="panel-body">
			    Seguro que quieres eliminar esto
			    <br>
			    <br>
			    <a class="btn-create pull-right" href="#">cancelar</a>
			    <a class="btn-create pull-right" href="#">eliminar</a>
			  </div>
			</div>
		</div>
	</div>

{% endblock resource_content%}

{% block scripts %}
	<script>
	</script>
{% endblock scripts %}