{% extends "wiki_parent.html" %}
{% comment %}
	template for view a wiki page
{% endcomment %}


{% block wiki_content %}
<div class="row">
	{% include "wiki_form.html" %}
	{% include "page_wiki.html" %}

</div>
		
		<!--<div class="row">
			<div id="list-comment" class="col-md-9 col-md-offset-2">

				<a class="btn-create" id="a-comment">agrega un comentario</a>
				<div>
					<form id="form-comment" hidden>
						<button id="btn-comment" class="btn btn-default pull-right" type="submit" name="action">Comentar</button>
					</form>	
				</div>
			</div>
			
		</div>-->
	
{% endblock wiki_content %}

{% block scripts %}

<script type="text/javascript">

	//get url tokens
	var id = location.pathname.split("/");

	var key = id[id.length-1].split("..");

	if(2 == key.length)
	{
		/*
		*Is a Verion
		*/
		//key[key.length-1] = version
		//key[key.length-2] = slug
		WikiView.load_version(key[key.length-1], key[key.length-2])
	}
	else if(1 == key.length)
	{
		/*
		*Is a Page
		*/
		WikiView.load_page(key[key.length-1])
	}
	

	//comments
	/*form_comment_ask = $("#form-comment");
	create_form(URL_CREATE_COMMENT, form_comment_ask, 'OPTIONS');
	form_comment_ask.submit(function (e) {
		e.preventDefault();
		CommentService.create(form_comment_ask, URL_CREATE_COMMENT, ForumService.append_comment_to_ask);
	})

	$("#a-comment").click(function (e) {
		e.preventDefault()
		$("#a-comment").hide()
		$("#form-comment").show()
	})*/

		
</script>
{% endblock scripts %}