{% load staticfiles %}
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>-->
<script src="{% static 'libs/ace/ace.js' %}"></script>

<link href="{% static 'libs/toopay-bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet">

<script src="{% static 'libs/toopay-bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>

<script src="{% static 'libs/markdown/markdown.js' %}"></script>

<!--<script src="{% static 'libs/marked/marked.min.js' %}"></script>-->


<script src="{% static 'js/services/WikiServices.js' %}" ></script>
<script src="{% static 'js/views/WikiView.js' %}"></script>
<script src="{% static 'js/views/MarkupEditor.js' %}"></script>