{% extends 'nav.html' %}
{% block title %}
	<span class="navbar-brand" href="#">Wiki module name</span>
{% endblock title %}		

{% block items %}

	<li role="presentation">
		<a href="{% url 'front_wiki:wiki' %}">Contenido</a>
	</li>

	<li role="presentation">
		<a href="{% url 'front_wiki:history' 0 %}">Historial</a>
	</li>

	<li role="presentation">
		<a href="{% url 'front_wiki:create' %}">Crea una nuevo tema</a>
	</li>

{% endblock items %}
	
{% block scripts %}
	<script>
		active();
	</script>
{% endblock scripts %}