{% extends 'nav.html' %}

{% block items %}

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_wiki:wiki' mod_slug %}">
			<span class="fa fa-wikipedia-w" aria-hidden="true"></span>
		</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_wiki:create' mod_slug %}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
	</li>
	
	<li class="section-nav" role="presentation">
		<a href="{% url 'front_wiki:history' mod_slug %}">
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		</a>
	</li>


	<li class="section-nav" role="presentation">
		<a href="{% url 'front_wiki:request' mod_slug %}">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</a>
	</li>
	

{% endblock items %}
	
{% block scripts %}
<script>
	active();


	//var url = window.location.href;
	//slug = url.match(".*/(.*?)/wiki")[1];
	var slug = "{{mod_slug}}";

	var module = new ModuleView();
	module.render_module_name(
		slug,
		$("#module_name")
	);
	</script>
{% endblock scripts %}