<div class="col-md-12">
	<div class="page_content">
		<div class="pull-right" id="submit_approved" hidden style="padding: 23px;">
			<a class="btn-create" href="#">Aprobar</a>
		</div>

		<div id="editaded_page" hidden>
		<span>Página editada, pasará a revisón, NO SE QUE PONER AQUI</span>
			<a id="url_wiki_request" href="">aquí</a>		
		</div>
		
		<h2 id="wiki_title" class="titulos"></h2>
		<span id="wiki_version"></span>
		<div hidden>
			<span id="wiki_slug"></span>
		</div>
		<div id="show_current" hidden>
			<a href="#">Ir a la versión actual</a>
		</div>
		<div id="markdown" class="margen_contenido"></div>
	</div>

</div>