{% extends "wiki_parent.html" %}
{% comment %}
	template for listing wiki pages
{% endcomment %}

{% block wiki_content %}
	<div class="col-md-12">
		<h3>Bienvenido</h3>
		<p>esta enciclopedia es de todos aqui pueden crear y editar contenido.</p>
	</div>	
	<div class="col-md-12">
		<h3 class="titulos">Contenido</h3>
	</div>

	<div class="col-md-12 margen_contenido">
		<ul class="pages">
			
		</ul>
	</div>
{% endblock wiki_content %}

{% block scripts %}
<script>
	WikiView.get_all_Pages();
</script>
{% endblock scripts %}
