{% extends 'template_base.html' %}
{% block contenido %}
	<div class="col-md-10 col-md-offset-1 capacity">
		<div class="row nav_foro">
			<h2> Wiki </h2>	
		</div>
		
		<br>
		<div class="margen_contenido">
			aqui hay muchas cositas

			<form action="" method="get">
    			<input type="text" name="q" value="" />
    			<input type="submit" value="search" />
    			<span id="search-progress" style="padding-left: 10px"></span>
  			</form>

		
		<a class=" btn-create pull-right margen_contenido" href="{% url 'front_wiki:create' %}">
			Crea un tema 
		</a>

		</div>
	</div>

{% endblock %}