{% extends "template_wiki_parent.html" %}
{% comment %}
	template for view a wiki page
{% endcomment %}

{% block section_title %}
	<h3 class="sub-section">Página de la wiki</h3>
{% endblock section_title %}

{% block module %}
	<div class="col-md-12">

		{% include "page_wiki.html" %}
		<br><br>
		<div class="col-md-8 col-sm-offset-2">
		{% include "wiki_form.html" %}
		</div>
	</div>

	<div  class="col-md-12" style="padding-bottom:20px;">
		<h4 class="titulos">Comentarios</h4>
		<div class="col-md-10 col-md-offset-1" id="list-comment-wiki">
			
		</div>
		
		
	</div>
	
	<div class="load-comment-wiki" hidden><a>Ver más</a></div>

	
	<div class="col-md-6 col-md-offset-3 comment" style="padding-bottom:100px;">
		<!-- formulario para el comentario -->
			<form id="form-comment-wiki" hidden>
				<div class="form-group">
					<input class="form-control" autocomplete="off" type="text" id="id_text" name="text" placeholder="Escribe un comentario">
				</div>
				<div class="form-group">
					<input type="hidden" id="id_parent" name="parent">
				</div>

				<button id="btn-comment" class="btn btn-default pull-right" type="submit" name="action">Comentar</button>
			</form>	
		
	</div>
		
	
{% endblock module %}

{% block scripts %}

<script type="text/javascript">

	//get url tokens
	var id = location.pathname.split("/");

	var key = id[id.length-1].split("..");

	if(2 == key.length)
	{
		/*
		*Is a Verion
		*/
		//key[key.length-1] = version
		//key[key.length-2] = slug
		//dont remove mod_slug var, is used at WikiView.render_version
		var mod_slug = '{{mod_slug}}';
		WikiView.load_version(key[key.length-1], key[key.length-2])
	}
	else if(1 == key.length)
	{
		/*
		*Is a Page
		*/
		WikiView.load_page(key[key.length-1])
	}
		
</script>
{% endblock scripts %}