{% extends "template_wiki_parent.html" %}
{% comment %}
	template for create a page of wiki
{% endcomment %}
{% block section_title %}
	<h3 class="sub-section">Crea nuevo contenido en la wiki</h3>
{% endblock section_title %}

{% block module %}
		
	<div class="col-md-10 col-sm-offset-1 editaded_page" id="editaded_page" hidden >
		Gracias por contribuir a la enciclopedia, la página que acabas de crear pasará a revisión por un docente para ser aprobada.

		Pueder ver el estado <a id="url_wiki_request" href="">aquí</a>
	</div>
			
	<div class="col-md-10 col-sm-offset-1 editaded_page" id="editaded_page_admin" hidden>
		Gracias por contribuir a la wiki, el tema que acabas de crear ya está disponible para todos <a id="url_wiki_request" href="">aquí</a>
	</div>

	

	<div class="col-md-12" id="formContent"  style='padding-bottom: 100px;'>
		<br><br>
		<div class="col-md-8 col-sm-offset-2">
			<div id="forms">
				{% include "wiki_form.html" %}
			</div>
		</div>
		
	</div>	

{% endblock module %}

{% block scripts %}
<script>

    jQuery(document).ready(function($) {
		WikiView.initialize($("#form_create_wiki"), $("#id_textarea"));
    });

</script>

{% endblock scripts %}