{% extends "template_wiki_parent.html" %}
{% comment %}
	template for create a page of wiki
{% endcomment %}
{% block section_title %}
	<h3 class="sub-section">Crear</h3>
{% endblock section_title %}

{% block module %}
		
	<div class="row">
		<div class="col-md-8">
			<div class="col-md-6" id="editaded_page" hidden >
				Gracias por contribuir a la wiki, tus compañeros estarán muy contentos aprendiendo con tus aportes. El tema que acabas de crear pasará a revisión por un humano para ser aprobado, en caso de que sea así, serás gratamente recompensado.

				Pueder ver el estado <a id="url_wiki_request" href="">aquí</a>
			</div>
			
			<div class="col-md-6" id="editaded_page_admin" hidden >
				Gracias por contribuir a la wiki, el tema que acabas de crear ya está disponible para todos <a id="url_wiki_request" href="">aquí</a>
			</div>

		</div>
	</div>

	

	<div class="col-md-12" id="formContent">
		<div class="row">
			<div class="col-md-7 col-sm-7 col-xs-7">
				<div id="forms">
					{% include "wiki_form.html" %}
				</div>
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-3 base">
					<h4>Aporta a la comunidad</h4>
					<p>Crea nuevos temas dentro de la wiki, éstos seran revisados por un humano y dependiendo de la relevancia de la información que pesenten los temas que tu crées, serán aprobados para que tus compañeros estudien con tus aportes ...o quizá no.</p>
			</div>
		</div>
	</div>	

{% endblock module %}

{% block scripts %}
<script>

    jQuery(document).ready(function($) {
		WikiView.initialize($("#form_create_wiki"), $("#id_textarea"));
    });

</script>

{% endblock scripts %}