{% load staticfiles %}
<!--<script src="{% static 'js/services/EvaluationsServices.js' %}"></script> candidato a borrar  -->

<script src="{% static 'js/services/QuizService.js' %}" ></script>
<script src="{% static 'js/views/QuizView.js' %}" ></script>

<script src="{% static 'js/services/CategoryService.js' %}" ></script>
<script src="{% static 'js/views/CategoryView.js' %}" ></script>

<script src="{% static 'js/services/QuestionService.js' %}" ></script>
<script src="{% static 'js/views/QuestionView.js' %}" ></script>

<!--<script src="{% static 'js/views/EvaluationsView.js' %}" ></script> -->
