{% extends 'nav.html' %}


{% block items %}

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_evaluations:quiz' mod_slug %}">
			<span class="fa fa-list-ol" aria-hidden="true"></span>
		</a>
	</li>

	<li class="section-nav action-create-quiz" role="presentation">
		<a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
		
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
		  	<li class="dropdown-header">Pregunta</li>
    		<li>
    			<a href="{% url 'front_evaluations:createEssay' mod_slug %}">Abierta</a>
    		</li>
    		
    		<li>
    			<a href="{% url 'front_evaluations:createMultichoice' mod_slug %}">Multiopción</a>
    		</li>

    		<li>
    			<a href="{% url 'front_evaluations:createTrueFalse' mod_slug %}">Verdadero/Falso</a>
    		</li>

			<li class="dropdown-header">Quiz</li>
    		<li>
    			<a href="{% url 'front_evaluations:createQuiz' mod_slug %}">Quiz</a>
    		</li>

  		</ul>
	</li>

	<!-- -->

	<li class="section-nav" role="presentation">
		<a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		</a>
		
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
		  	<li class="dropdown-header">Lista de Preguntas</li>
    		<li>
    			<a href="{% url 'front_evaluations:questionsE' mod_slug %}">Abierta</a>
    		</li>
    		
    		<li>
    			<a href="{% url 'front_evaluations:questionsM' mod_slug %}">Multiopción</a>
    		</li>

    		<li>
    			<a href="{% url 'front_evaluations:questionsTF' mod_slug %}">Verdadero/Falso</a>
    		</li>

			<li class="dropdown-header">Lista Quiz</li>
    		<li>
    			<a href="{% url 'front_evaluations:quizAdmin' mod_slug %}">Quices</a>
    		</li>

  		</ul>
	</li>

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_evaluations:markingQuiz' mod_slug %}">
			<span class="" aria-hidden="true">Resultados</span>
		</a>
	</li>


{% endblock items %}
	
{% block scripts %}
	<script>
		
		var slug = "{{mod_slug}}";
		var module = new ModuleView();
		module.render_module_name(
			slug,
			$("#module_name")
		);
	</script>
{% endblock scripts %}