{% extends 'nav.html' %}
{% block title %}
	<a href="{% url 'front_evaluations:quiz' mod_slug %}" >
		<span class="navbar-brand" id='title-nav'>Tests <span id="module_name"></span></span>
	</a>
{% endblock title %}		

{% block items %}

	<li class="section-nav" role="presentation">
		<a href="{% url 'front_evaluations:quiz' mod_slug %}">evaluaciones</a>
	</li>

	<!--<li class="section-nav" role="presentation">
		<a href="">Crea una nueva evaluacion</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="">Crea Preguntas</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="">Crea Categorias</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="">Crea SubCategorias</a>
	</li>

	<li class="section-nav" role="presentation">
		<a href="">resultados</a>
	</li>-->

{% endblock items %}
	
{% block scripts %}
	<script>
		active();

		var slug = "{{mod_slug}}";
		var module = new ModuleView();
		module.render_module_name(
			slug,
			$("#module_name")
		);
	</script>
{% endblock scripts %}