{% extends 'template_base.html' %}
{% block contenido %}
	
		<div class="col-md-10 col-md-offset-1 capacity">
		<div class="row nav_foro">
			<h2>Actualiza tu contraseña</h2>	
		</div>
		
		<br>
		<h4>no se que colocar</h4>
		
		<div class="col-md-6 col-sm-6 col-xs-8 col-sm-offset-3 recoveryPassword margen_contenido">
			
			<form class=""  id="form_update_password">
				<div class="form-group col-md-12">
	    			<input type="password" name="old_password" class="form-control"  placeholder="Contraseña Actual">
	  			</div>

	  			<div class="form-group col-md-12">
	    			<input type="password" name="new_password" class="form-control"  placeholder="Nueva Contraseña">
	  			</div>

	  			<div class="form-group col-md-12">
	    			<input type="password" name="match_password" class="form-control"  placeholder="Confirmar Contraseña">
	  			</div>
	  			<div class="form-group col-md-12">
	  				<button type="submit" class="btn btn-default pull-right">Guardar cambios</button>
	  			</div>
			</form>
		</div>
			
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
	
		form_update_password = $("#form_update_password");
		url_update = URL_UPDATE_USER_PASSWORD+JSON.parse($.session.get('user')).id;


		form_update_password.submit(function (e) {
			e.preventDefault();
			ChangePasswordForm.udpate_password(url_update, e.target);
		});
		
	</script>



{% endblock scripts %}