{% extends 'template_base.html' %}
{% block contenido %}
{% load staticfiles %}


<!-- sign-out-->
	<div class="row" id="introduction">
		{% include 'introduction.html' %}
	</div>
	
	<div class="row" style="margin-top: 60px;" id="register" hidden>
		
			{% include 'register.html' %}	
	

	</div>

<!-- sign-in-->
	<div class="col-md-8 capacity" id="index" hidden>
		<div class="margen_contenido">
			
		</div>
	</div>

	
{% endblock %}

{% block scripts %}
<script>
	
	$('#btn-reg').click(function(){
      $("body").animate({scrollTop:$('#register').offset().top}, 600);
    });

    jQuery(document).ready(function() {
		UserView.initializeRegister($("#register"));

		$("#preloader_2").hide();
		
    });

</script>

{% endblock scripts %}