{% extends 'template_base.html' %}
{% block contenido %}
{% load staticfiles %}


<!-- Index no authenticated user -->
	<div class="row" id="introduction">
		{% include 'introduction.html' %}
	</div>
<!-- end Index no authenticated user -->


<!-- Index authenticated user -->
	<div class="row" id="introduction_auth" hidden>
		{% include 'include_modules_index.html' %}
	</div>
<!-- end Index authenticated user -->

	
	<div class="row" style="margin-top: 60px;" id="register" hidden>
			{% include 'register.html' %}
	</div>


	
{% endblock %}

{% block scripts %}
<script>
	
	$('#btn-reg').click(function(){
      $("body").animate({scrollTop:$('#register').offset().top}, 600);
    });

    jQuery(document).ready(function() {
		UserView.initializeRegister($("#register"));

		$("#preloader_2").hide();
		
    });

</script>

{% endblock scripts %}