{% load staticfiles %}
<div class="col-md-12 capacity">
    
    <div class="col-md-10 col-md-offset-1" style="text-align:center">
    
        
          
        <div class="col-md-12">
          <h2 class="text-welcome">Bienvenido</h2>
          <hr>
        </div>
        
        <div class="col-md-2" style="text-align:center border">
          <div class="row">
            <span class="fa fa-archive fa-5x" aria-hidden="true"></span>
          </div>
          <div class="row text-intro">
            <span>Aprende</span>
          </div>
        </div>

        <div class="col-md-2" style="text-align:center border">
          <div class="row">
            <span class="fa fa-wikipedia-w fa-5x" aria-hidden="true"></span>
          </div>
          <div class="row text-intro">
            <span>Comparte</span>
          </div>
        </div>

        <div class="col-md-2" style="text-align:center border">
          <div class="row">
            <span class="fa fa-comments-o fa-5x" aria-hidden="true"></span>
          </div>
          <div class="row text-intro">
            <span>Ayuda</span>
          </div>
        </div>

        <div class="col-md-2" style="text-align:center border">
          <div class="row">
            <span class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></span>
          </div>
          <div class="row text-intro">
            <span>Comparte</span>
          </div>
        </div>

        <div class="col-md-2" style="text-align:center">
          <div class="row">
            <span class="fa fa-list-ol fa-5x" aria-hidden="true"></span>
          </div>
          <div class="row text-intro">
            <span>Pruébate</span>
          </div>
        </div>
        
        <div class="col-md-2" style="text-align:center">
          <div class="row">
            <span class="fa fa-trophy fa-5x" aria-hidden="true"></span>
          </div>
          <div class="row text-intro">
            <span>Gana</span>
          </div>
        </div>

        <div class="col-md-12">
          <hr>
          <h3>Aprender algoritmia nunca fue tan social como ahora</h3>
        </div>


        
         <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12" style="text-align:center">
          
          <br>
          <a id="btn-reg"class = 'btn btn-default btn-lg' >Regístrate</a>
        </div>

    <!--      <div class="col-md-12">
    <h3>Bienvenido</h3>
    <p>
      Esta es una seccion donde podras construir una enciclopedia de contenido libre que reúna todo el conocimiento referente al modulo. Esperamos que disfrutes de leer los artículos y te invitamos a colaborar haciendo sugerencias o escribiendo tú mismo para mejorar los artículos que hay y crear los que faltan.
    </p>


  </div>-->
        
    </div>
  
</div>