{% load staticfiles %}
<div class="col-md-12" id="introduction">

  <div class="col-md-12">
    
    <div class="col-sm-5 col-md-12" style="text-align:center">
    
        
        <div class="col-md-12" >
          <h2>Bienvenido</h2>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        
        <div class="col-md-4 intro-img" style="text-align:center border">
          <img class="img-circle img-responsive introduction-pic" src="{% static 'img/2.png' %}">   
        </div>
        <div class="col-md-4 intro-img" style="text-align:center">  
           <img class="img-circle img-responsive introduction-pic" src="{% static 'img/1.png' %}">   
        </div>

        <div class="col-md-4 intro-img" style="text-align:center">
          <img class="img-circle img-responsive introduction-pic" src="{% static 'img/3.png' %}">   
        </div>
         <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12" style="text-align:center">
          <h3>Comparte, aprende y mejora tu conocimiento sobre algoritmia</h3>
          <br>
          <a id="btn-reg"class = 'btn btn-default btn-lg' >Regístrate</a>
        </div>
        
    </div>
  </div>
</div>