{% load staticfiles %}
<div class="col-md-12 capacity">
    
    <div class="col-md-10 col-md-offset-1" style="text-align:center">
    
        
          
        <div class="col-md-12">
          <h2>Bienvenido</h2>
          <h3>Comparte, aprende y mejora tu conocimiento sobre algoritmia</h3>
          <hr>
        </div>
        
        <div class="col-md-4 intro-img " style="text-align:center border">
          <img class="img-circle img-responsive introduction-pic" src="{% static 'img/2.png' %}">   
        </div>
        <div class="col-md-4 intro-img" style="text-align:center">  
           <img class="img-circle img-responsive introduction-pic" src="{% static 'img/1.png' %}">   
        </div>

        <div class="col-md-4 intro-img" style="text-align:center">
          <img class="img-circle img-responsive introduction-pic" src="{% static 'img/3.png' %}">   
        </div>
         <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12" style="text-align:center">
          
          <br>
          <a id="btn-reg"class = 'btn btn-default btn-lg' >Regístrate</a>
        </div>

    <!--      <div class="col-md-12">
    <h3>Bienvenido</h3>
    <p>
      Esta es una seccion donde podras construir una enciclopedia de contenido libre que reúna todo el conocimiento referente al modulo. Esperamos que disfrutes de leer los artículos y te invitamos a colaborar haciendo sugerencias o escribiendo tú mismo para mejorar los artículos que hay y crear los que faltan.
    </p>


  </div>-->
        
    </div>
  
</div>