{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock head %}


<!-- template if not autheticated -->
  <form class="navbar-form navbar-right" id="form_login">
  	<div class="form-group form-group-sm">
      	<input type="email" name="username" class="form-control "  placeholder="E-mail">
    </div>

    <div class="form-group form-group-sm">
      	<input type="password" name="password" class="form-control " placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-default btn-sm ">Iniciar sesión</button>
    <br>
    <a href="{% url 'front_users:recoverPassword' %}">Olvidaste tu contraseña</a>
  </form>




<div class="collapse navbar-collapse" id="hola">


<!-- template autheticated -->

  <!--<ul class="nav navbar-nav navbar-left">
    <li>
      <span>
        <a href="#">inicio</a>  
      </span>
    </li>
    <li>
      <span>
        <a href="#">Estudiantes</a>  
      </span>
    </li>
  </ul>-->

  <ul class="nav navbar-nav navbar-right" id="user_resume" hidden>
    <!--<li>
      <span>
        <a href="#">Estudiantes</a>  
      </span>
      
    </li>-->
    <li>
      <!--<img class="pic_resume .img-responsive img-rounded"> -->
    </li>
    <li>
      <span class="resume_name"></span>
    </li>
    <li class="dropdown">
      <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  
          <span id="user-bell-notify" class="glyphicon glyphicon-bell"></span>
      </span>
      {% include "notifications.html" %}
    </li>
    
    <li class="dropdown">
      <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <a href="#"> <span class="caret"></span></a></span>
      <ul class="dropdown-menu">
          <li><a href="{% url 'front_users:profile' %}">Perfil</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'front_users:settings' %}">Ajustes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" id="button_logout">Salir</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--
<div class="col-md-12 pull-right" id="user_resume" hidden>
  
  <div class="col-md-6 col-md-offset-6" style="text-align:center; border-bottom: 1px solid">  
      <img class="pic_resume .img-responsive img-rounded"> 
      <span class="resume_name"></span>
      
  </div>
  <div class="col-md-6 col-md-offset-6">
    <nav class="navbar navbar-default section-user">
      <div class="container-fluid">
        
        <div class="navbar-header">
        
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
             <li><a href="#"><span class = "glyphicon glyphicon-book"></span></a></li>
              <li><a href="#">Ptos</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'front_users:profile' %}">Perfil</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'front_users:settings' %}">Ajustes</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" id="button_logout">Salir</a></li>
                </ul>
              </li>

          </ul>
        </div>

      </div>
    </nav>
  
  </div>

</div>-->