{% extends 'template_base.html' %}

{% load staticfiles %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/recoveryPassword.css' %}">	
{% endblock head %}
{% block contenido %}
	<div class="col-md-12 capacity">
		<div class="row navigation">
			<h2>Reestablece tu contraseña</h2>	
		</div>
		
		<br>
		<div class="row">
			<h4>Escribe tu nueva contraseña contraseña</h4>
		</div>
		<div class="col-sm-6 col-sm-offset-3 recoveryPassword margen_contenido">
			<div id="msg" hidden></div>
			
			<form id="confirm_pass_form" class="form-horizontal">
				<div class="form-group col-md-12">
	    			<input type="password" id="id_new_password1" name="new_password1" class="form-control"  placeholder="Contraseña">
	  			</div>
	  			<div class="form-group col-md-12">
	    			<input type="password" id="id_new_password2" name="new_password2" class="form-control"  placeholder="Confirma contraseña">
	  			</div>

	  			<button type="submit" class="btn btn-default">Reestablecer</button>
			</form>
		</div>		
	</div>
{% endblock %}

{% block scripts %}
	
<script  type="text/javascript">
	
	var url_confirm = URL_RECOVERY_PASSWORD_CONFIRM.replace(/\%uidb%/g, "{{uidb64}}");
	url_confirm = url_confirm.replace(/\%token%/g, "{{token}}");

	$.getJSON(url_confirm, function( data ) {
		//console.log("url", url_confirm)
		//console.log(data)
  		
  		var input = document.createElement("input");
  		input.type = 'hidden';
  		input.name = 'csrfmiddlewaretoken';
  		input.id = 'id_csrfmiddlewaretoken';
  		input.value = data.csrf_token;
  		$("#confirm_pass_form").append(input)
  		
  	});

	$("#confirm_pass_form").submit(function(e){
		e.preventDefault();
		//console.log(e.target)

		//verifico  que coincidan los passwords
		var new_p = $(e.target).find('#id_new_password1').val();
		var match_p = $(e.target).find('#id_new_password2').val();

		if( new_p.length != 0 && match_p.length  != 0){
		//fields arent empty 

			if(new_p == match_p){
			//passwords match
				console.log("Match")
			}
			else
			{
				console.log("no match")
				return 0;
			}
		}else
		{
			console.log("campos incompletos")
			return 0;
		}

		var csrftoken = $(":input[name='csrfmiddlewaretoken']").val()
		//console.log(csrftoken)
		UserService.recovery_password(
			url_confirm,
			csrftoken,
			e.target,
			function (response) {
				//console.log(response)
				$("#confirm_pass_form").fadeOut();
				$("#msg").text(response.msg)
				$("#msg").fadeIn();
				Notify.show_success("OK", "Tu contraseña ha sido establecida");
			});
	})

</script>
{% endblock scripts %}