{% extends 'template_base.html' %}

{% load staticfiles %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/recoveryPassword.css' %}">	
{% endblock head %}
{% block contenido %}
	<div class="col-md-12 capacity">
		<div class="row navigation">
			<h2>¿Olvidaste tu contraseña?</h2>	
		</div>
		
		<br>
		<div class="row">
			<h4>Escribe tu correo electrónico para restablecer tu contraseña</h4>
		</div>
		<div class="col-sm-6 col-sm-offset-3 recoveryPassword margen_contenido">
			<div id="msg" hidden></div>
			
			<form id="recovery_pass_form" class="form-horizontal">
				<div class="form-group col-md-12">
	    			<input type="email" name="email" class="form-control"  placeholder="e-mail">
	  			</div>

	  			<button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>		
	</div>
{% endblock %}

{% block scripts %}
	
<script  type="text/javascript">
	$.getJSON(URL_RECOVERY_PASSWORD, function( data ) {
		//console.log(data)
  		var input = document.createElement("input");
  		input.type = 'hidden';
  		input.name = 'csrfmiddlewaretoken';
  		input.id = 'id_csrfmiddlewaretoken';
  		input.value = data.csrf_token;
  		$("#recovery_pass_form").append(input)
  		
  	});

	$("#recovery_pass_form").submit(function(e){
		e.preventDefault();
		//console.log(e.target)
		var csrftoken = $(":input[name='csrfmiddlewaretoken']").val()
		//console.log(csrftoken)
		UserService.recovery_password(
			URL_RECOVERY_PASSWORD,
			csrftoken,
			e.target,
			function (response) {
				//console.log(response)
				$("#recovery_pass_form").fadeOut();
				$("#msg").text(response.msg)
				$("#msg").fadeIn();
				Notify.show_success("OK", "Revise su correo");
			});
	})

</script>
{% endblock scripts %}