{% extends 'template_base.html' %}
{% block contenido %}
	<div class="col-md-9 capacity">
			
		
		<div class="col-md-12">
			<h2>Medallas</h2>
			<hr>
			<div class="col-md-12 container_awards" >
			
			</div>
				
		</div>

		<div  class="col-md-12" style="padding-bottom:100px;">
			<br><br>
			<h2>Actividad reciente</h2>
			<hr>
			<div id="user-activity" style="text-align:center; padding:10px;">
				
			</div>	
		</div>

		
			
		
	</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	$(".pic_profile").attr("src",'http://127.0.0.1:8080'+User.get_thumb(1));

	// medallas del usuario
	var gamificationView = new GamificationView();
	gamificationView.get_all_award_user('profile')

	//Wall
	UserView.load_wall(User.get_id(), $("#user-activity"))
</script>
{% endblock scripts %}