{% extends 'template_base.html' %}

{% load staticfiles %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/recoveryPassword.css' %}">	
{% endblock head %}
{% block contenido %}
	<div class="row capacity">
		<h2 class="titulos">¿Olvidaste tu contraseña?</h2>
		<br>
		<h4>Escribe tu correo electrónico para restablecer tu contraseña</h4>

		<div class="col-sm-6 col-sm-offset-3 recoveryPassword margen_contenido">
			
			<form class="form-horizontal">
				<div class="form-group col-md-12">
	    			<input type="email" class="form-control"  placeholder="e-mail">
	  			</div>

	  			<button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>		
	</div>
{% endblock %}