{% extends 'template_base.html' %}

{% load staticfiles %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/recoveryPassword.css' %}">	
{% endblock head %}
{% block contenido %}
	<div class="col-md-12 capacity">
		<div class="row navigation">
			<h2>¿Olvidaste tu contraseña?</h2>	
		</div>
		
		<br>
		<div class="row">
			<h4>Escribe tu correo electrónico para restablecer tu contraseña</h4>
		</div>
		<div class="col-sm-6 col-sm-offset-3 recoveryPassword margen_contenido">
			
			<form id="recovery_pass_form" class="form-horizontal">
				<div class="form-group col-md-12">
	    			<input type="email" name="email" class="form-control"  placeholder="e-mail">
	  			</div>

	  			<button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>		
	</div>
{% endblock %}

{% block scripts %}
	
<script  type="text/javascript">
	
	$.getJSON(URL_RECOVERY_PASSWORD, function( data ) {
  		
  		var input = document.createElement("input");
  		input.type = 'hidden';
  		input.name = 'csrfmiddlewaretoken';
  		input.value = data.csrf_token;
  		$("#recovery_pass_form").append(input)
  		
  	});

	$("#recovery_pass_form").submit(function(e)
	{
		e.preventDefault();
		console.log(e.target)
		UserService.recovery_password(URL_RECOVERY_PASSWORD, e.target);
	})

</script>
{% endblock scripts %}