{% load staticfiles %}

<!-- background-image: url("../../static/img/bg.png")-->
<div class="col-md-12" style='padding-bottom: 80px;'>
	<div>
	<div class="col-md-6 col-md-offset-3" style="text-align:center">
	    <div >
	    	<h2>Regístrate</h2>
	     	<div class="col-md-8 col-md-offset-2">
	     	<p class="pull-left">Aprende algoritmia</p>
		     	<form id="form_register">
		      		<button class="btn btn-default pull-right" type="submit" name="action">Registrar</button>
		      	</form>
		    </div>
	    </div>
	</div>
	</div>
</div>
