{% load staticfiles %}
<!--
<div class="col-md-6 col-sm-6 col-xs-6">

    <div class="thumbnail">
      <img class="img-circle img-responsive introduction-pic" src="{% static 'img/2.png' %}">   
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        
      </div>
    </div>
</div>-->


<div class="col-md-6 col-sm-6 col-xs-6">
	<div class="col-md-12">
	    <div >
	    	<h2>Regístrate</h2>
	     	<p>Aprende algoritmia</p>

	     	<div class="col-md-6 col-md-offset-3">
		     	<form id="form_register">
		      		<button class="btn btn-default pull-right" type="submit" name="action">Registrar</button>
		      	</form>
		    </div>
	    </div>
	</div>
</div>


<!--style="min-height:400px;"-->