<div class="col-md-3 base" id="resume-profile" hidden>
	<div class="row">
		<div class="col-md-12">
		<div class=" col-md-4 col-sm-4 picture">
			<img class="pic_profile .img-responsive img-rounded" src="">		
		</div>
		
		<div class="col-md-8 col-sm-8 navigation" style="margin-top:20px">
			<span class="resume_profile"></span>
		</div>
		<div class="col-md-8 col-sm-8">
			puntos
		</div>
		
		</div>
	</div>
	<div class="col-md-12" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-top:10px">
		<div class="icon-menu ">
      		<span class="glyphicon glyphicon-menu-hamburger"></span>
  		</div>
	</div>
	{% include 'menu_modulos.html' %}
</div>