<div class="menu"  id="resume-profile" hidden>
	
	<!--<div class="col-md-1 pull-right" style="border-left: 0px solid  #ccc; padding:10px">
		<span class="glyphicon glyphicon-remove  icon-close"></span>
		<span class="glyphicon glyphicon-menu-hamburger  icon-menu"></span>	
	</div>-->
	
	<!--User model-->
	<div style="text-align:center">
		<div>
			<img class="pic_profile img-responsive img-rounded picture" src="">		
		</div>
	
		<div style="margin-top: 5px;">
			<span class="resume_profile"></span>
		</div>
	</div>
	<!--end User model-->

	<div><hr></div>
</div>
