{% extends 'template_base.html' %}
{% block contenido %}
	<div class="col-md-12 capacity">
		<div class="row nav_foro">
			<h2>Ajustes</h2>	
		</div>
		
		<br>
		<div class="row">
			<h4>Actualiza tu informacion personal</h4>	
		</div>
		
		<div class="col-md-6 col-sm-6 col-xs-8 col-sm-offset-3 margen_contenido">
		

			<form id="form_update_user" >      
        		<button class="btn btn-default" type="submit" name="action">Guardar Cambios</button>
     			<a class="pull-right" href="{% url 'front_users:changePassword' %}">Cambiar contraseña</a>
      		</form>	
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$('document').ready(function() {

		url_update = URL_UPDATE_USER+JSON.parse($.session.get('user')).id;
		//form update user
		form_update_user = $("#form_update_user");
		create_form(url_update, form_update_user, 'PUT');
		UserView.showSetting(url_update);
		//form_update_user.show();
		form_update_user.submit(function (e) {
			e.preventDefault();
			UserService.update_user(url_update, form_update_user);
		});
		
	});

	</script>
{% endblock scripts %}