{% extends 'template_base.html' %}
{% block contenido %}
	<div class="col-md-8 base capacity">
		<br>
		<div class="margen_contenido">
			<div class="picture">
				<img class="pic_user_profile .img-responsive img-rounded" src="">		
			</div>
			<div class="col-md-11 col-sm-11 col-md-offset-1 navigation">
				<h2 class="resume_user_profile"></h2>			
			</div>

			Actividad usuario detalle 
		</div>

		


	</div>
{% endblock %}
{% block scripts %}

<script type="text/javascript">

		//Se obtiene el id 
		var id = location.pathname.split("/");
		id = id[id.length-1];

		// se ontiene la informacion del usuario para el perfil 
		UserService.getUser(id);
		
	
		
</script>
{% endblock scripts %}
