{% extends 'template_base.html' %}
{% block contenido %}
	<div class="col-md-8  capacity">
		<br>
		<div class="col-md-12 ">
			
			<div class="col-md-12" style="text-align:center">
				<div class="picture">
					<img class="pic_user_profile img-responsive img-rounded" src="">		
				</div>
				<div class="col-md-11 col-sm-11 col-md-offset-1 ">
					<h2 class="resume_user_profile"></h2>			
				</div>
			</div>

			
			
			<div class="col-md-12">
				<hr>
			</div>
			<div class="col-md-4">
				<h3>Logros recientes</h3>
				<div class="col-md-12 container_awards">
				
				</div>
				
			</div>
			
			<div class="col-md-8">
				Actividad usuario detalle 
			</div>
			

			
		</div>

		


	</div>
{% endblock %}
{% block scripts %}

<script type="text/javascript">

		//Se obtiene el id 
		var id = location.pathname.split("/");
		id = id[id.length-1];

		// se ontiene la informacion del usuario para el perfil 
		UserService.getUser(id);

		// medallas del usuario
		var gamificationView = new GamificationView();
		gamificationView.get_all_award_user('', id)
		
	
		
</script>
{% endblock scripts %}
