{% extends "template_evaluations_parent.html" %}
{% comment %}
	template for create a quiz
{% endcomment %}

{% load staticfiles %}

{% block module %}
	<div class="col-md-12">
		<h3 class="titulos">Pregunta Abierta</h3>
		<br><br>
		<div class="col-md-7 col-sm-7 col-xs-7  ">
			<form class="" id="form_essay" hidden>
	      		<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
	      	</form>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base ">
			<h4>Pregunta Abierta</h4>
			<p> pregunta tipo ensayo ..bla bla bla</p>
		</div>
	</div>
{% endblock module %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//
			form = $("#form_essay")
			EvaluationsView.initialize(form, URL_CREATE_QUESTION_ESSAY);
			EvaluationsView.create_essay(form)

		});
	</script>
	
{% endblock scripts %}