{% extends "evaluations_parent.html" %}
{% comment %}
	template for list all questions
{% endcomment %}

{% load staticfiles %}

{% block evaluations_content %}
	<div class="col-md-12">
		<h3>Selecciona un tipo de pregunta para ver la lista</h3>
		<div class="col-md-4" style="text-align:center">
			<button class="btn btn-default" id="Essay">Preguntas tipo ensayo</button>
		</div>
		<div class="col-md-4" style="text-align:center">
			<button class="btn btn-default" id="TF">Preguntas tipo verdadero y falso</button>
		</div>
		<div class="col-md-4" style="text-align:center">
			<button class="btn btn-default" id="MC">Preguntas tipo multiopcion</button>
		</div>
	</div>

	<div class="col-md-12" id="show_">
		
		<!--div con tabla para preguntas essay -->
		<div class="col-md-12" id="table-essay" hidden>
			<h3 class="titulos">Essay Questions</h3>
			<div class="table-responsive">
				<table class="table table-hover">
	  				<thead>
						<tr>
							<th>#</th>
							<th>Question</th>
							<th>Categoria</th>
							<th>Subcategoria</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody id="list-equestion">
						
					</tbody>
				</table>
			</div>
		</div>

		<!--div con tabla para preguntas tf -->
		<div class="col-md-12" id="table-tf" hidden>
			<h3 class="titulos">True and False Questions</h3>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Question</th>
							<th>Categoria</th>
							<th>Subcategoria</th>
							<th>Editar</th>
							<th>Eliminar</th>	
						</tr>
					</thead>
					<tbody id="list-tfquestion">

					</tbody>
	  
				</table>
			</div>
		</div>

		<!--div con tabla para preguntas mc -->
		<div class="col-md-12" id="table-mc" hidden>
			<h3 class="titulos">Multichoice Questions</h3>
			<div class="table-responsive">
				<table class="table table-hover">
	  				<thead>
						<tr>
							<th>#</th>
							<th>Question</th>
							<th>Categoria</th>
							<th>Subcategoria</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody id="list-mcquestion">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!-- editar -->
	<!-- formulario essay -->
	<div class="col-md-12" id="edit_e" hidden>
		<br><br>
		<div class="col-md-7 col-sm-7 col-xs-7  ">
			<form class="" id="form_update_e" hidden>
	      		<button class="btn btn-default pull-right" type="submit" name="action">Actualizar</button>
	      	</form>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base ">
			<h4>Essay question</h4>
			<p> pregunta tipo ensayo ..bla bla bla</p>
		</div>
	</div>

	<!-- formulario tf -->
	<div class="col-md-12" id="edit_tf" hidden>
		<br><br>
		<div class="col-md-7 col-sm-7 col-xs-7  ">
			<form class="" id="form_update_tf" hidden>
	      		<button class="btn btn-default pull-right" type="submit" name="action">Actualizar</button>
	      	</form>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base ">
			<h4>True and False question</h4>
			<p> pregunta tipo ensayo ..bla bla bla</p>
		</div>
	</div>		

	<!-- formulario mc -->
	<div class="col-md-12" id="edit_mc" hidden>
		<br><br>
		<div class="col-md-7 col-sm-7 col-xs-7  ">
			<form  id="form_update_mc" hidden>
			</form>  	
				<br>
	      		<h3 class="titulos">Respuestas</h3>
	      		<br>
	      		<div class="col-md-12" style="border-bottom:1px solid #ccc; margin-bottom: 20px;">
	      		<div class="col-md-8" style=" ">
	    			Contenido
				</div>
				<div class="col-md-4" style="text-align:center">
	    			Correcta
				</div>
				</div>
				<br>
				<div id="form_mc_answer" >
	      		
	      		<!--<div class="list_answer row">
					<form class="form-inline">

						<div class="form-group col-md-8">
							 <input type="text" class="form-control" id="content_ans" placeholder="">
						</div>
						<div class="checkbox col-md-4" style="text-align:center">
							 <input type="radio" id="id_correct">
						</div>
					</form>
				</div>-->
				</div>
				<!--<div class="col-md-12">
					<button class="btn btn-default pull-right" type="button" id="add_input">Agregar</button>		
				</div>-->
				<div class="col-md-12">
					<hr>
					<button class="btn btn-default pull-right" type="submit" id="envia" form= "form_update_mc" name="action">Actualizar</button>	
				</div>	
			
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base ">
			<h4>Pregunta Multi-Opción</h4>
			<p> pregunta ..bla bla bla</p>
		</div>
	</div>

	
	
	

{% endblock evaluations_content %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//form question essay
			EvaluationsView.show_table_questions()
			EvaluationsView.get_all_TFQuestions();
			EvaluationsView.get_all_MCQuestions();
			EvaluationsView.get_all_EQuestions(); 

			
		});
	</script>
	
{% endblock scripts %}