{% extends "evaluations_parent.html" %}
{% comment %}
	template for create a quiz
{% endcomment %}

{% load staticfiles %}

{% block evaluations_content %}
	<div class="col-md-12">
		<br><br>
		<div class="col-md-7 col-sm-7 col-xs-7  ">
			<form class="" id="form_mc" hidden>
				<div id="form_mc_answer" hidden>
					<div class="list_answer"></div>
					<button class="btn btn-default pull-right" type="button" id="add_input">Agregar</button>
	      		</div>
	      		
				<button class="btn btn-default pull-right" type="submit" name="action">Crear</button>
			</form>

	      	<br><br>
	      	<hr>

	      
		</div>
		<div class="col-md-4 col-sm-4 col-xs-3 col-sm-offset-1 base ">
			<h4>Multichoice question</h4>
			<p> pregunta tipo ensayo ..bla bla bla</p>
		</div>
	</div>
{% endblock evaluations_content %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//
			form_mc = $("#form_mc")
			form_mc_an = $("#form_mc_answer");
			list_answers = $(".list_answer");
			EvaluationsView.initialize(form_mc, URL_CREATE_QUESTION_MC);
			EvaluationsView.create_mc(form_mc, ".list_answer")

			
			EvaluationsView.initialize(
				list_answers,
				URL_CREATE_ANSWER_MC,
				function()
				{
					form_mc_an.show();
					var counter_answers = 0;
					document.getElementById("id_question").type = "hidden";

					$(list_answers[0]).attr("id", "answer-"+counter_answers)

					$("#add_input").click(function(e){
						counter_answers += 1;
						var new_answer = $(list_answers[0]).clone();
						$(new_answer).attr("id", "answer-"+counter_answers)
						$(new_answer).find("#id_content").val("");
						form_mc_an.prepend(new_answer);
						
					});


				});

			
		});
	</script>
	
{% endblock scripts %}