{% extends "template_evaluations_parent.html" %}
{% comment %}
	template for create a quiz
{% endcomment %}

{% load staticfiles %}

{% block section_title %}
	<h3 class="sub-section">Crea una pregunta de opcion multiple</h3>
{% endblock section_title %}

{% block module %}
	
	<!-- formulario para la pregunta -->
	
	<br><br>
	<div class="col-md-6 col-sm-offset-3" style="padding-bottom:100px;">
		<form  id="form_mc" hidden>

			<br>
      		<h3 class="title">Respuestas</h3>
      		<br>
      		<div class="col-md-12 header_answers" >
      		<div class="col-md-9">
    			Contenido
			</div>
			<div class="col-md-3" style="text-align:center; border-left: 1px solid #ccc;">
    			Correcta
			</div>
			</div>
			<br>
			<div id="form_mc_answer" >
      		
      		<div class="list_answer row">
				<form class="form-inline">

					<div class="form-group col-md-8">
						 <input type="text" class="form-control" id="content_ans">
					</div>
					<div class="checkbox col-md-4" style="text-align:center">
						 <input type="radio" name="verdict" id="id_correct">
					</div>
				</form>
			</div>
			</div>
			<div class="col-md-12">
				<button class="btn btn-default pull-right" type="button" id="add_input">Agregar</button>		
			</div>
			<div class="col-md-12">
				<hr>
				<button class="btn btn-default pull-right" type="submit" id="envia" form= "form_mc" name="action">Crear</button>	
			</div>	
		</form>  	
	</div>
		
{% endblock module %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//
			form_mc = $("#form_mc")
			form_mc_an = $("#form_mc_answer");
			list_answers = $(".list_answer");
			EvaluationsView.initialize(form_mc, URL_CREATE_QUESTION_MC);
			EvaluationsView.create_mc(form_mc, ".list_answer")


			var counter_answers = 0
			$("#add_input").click(function(e){
						counter_answers += 1;
						console.log('click')
						var new_answer = $(list_answers[0]).clone();
						console.log(new_answer)
						$(new_answer).attr("id", "answer-"+counter_answers)
						$(new_answer).find("#content_ans").val("");
						form_mc_an.prepend(new_answer);
						
			});

		})
						

	</script>
	
{% endblock scripts %}