{% extends "template_evaluations_parent.html" %}
{% comment %}
	template for list all questions
{% endcomment %}

{% load staticfiles %}

{% block module %}
	<br>
	<br>
	<div class="col-md-12" style="padding-bottom:100px">
		
		<h3 class="title">Resultado</h3>
		<br>

		<div class="col-md-8 col-md-offset-2 results_msg">
			
			<h4 id="name_quiz"></h4>
			<h4 id="result_message"></h4>
			
			
			
		</div>
			
		
		<div class="col-md-4 col-md-offset-2 results">
			<span>Porcentaje Correcto</span>
			<br>
			<span id="percent"></span>
		</div>
		
		<div class="col-md-4 results" >
			<h3 id="titulo"></h3>
			<span class="time-ago pull-right" id="finish"></span>		
		</div>
	
	<div class="col-md-12" style="margin-top: 50px;">
	<h3 class="title">Detalle respuestas</h3>
	<br>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Pregunta</th>
					<th>Tu respuesta</th>
					<th>Resultado</th>
				</tr>
			</thead>
			<tbody id="list-results">
				
			</tbody>
		</table>
	</div>
	</div>
		
	</div>
{% endblock module %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//
			EvaluationsView.get_marking_detail()
			
			
		});
	</script>
	
{% endblock scripts %}