{% extends 'template_evaluations_parent.html' %}
{% load staticfiles %}

{% block section_title %}
	<h3 class="sub-section">Lista quices</h3>
{% endblock section_title %}

{% block module %}
	<br><br>
	<div class="col-md-12" style="padding-bottom:100px">
		
		<h3 class="title">Quizzes</h3>
		<br>
		<!-- tabla con la lista de las quices -->
		<div class="table-responsive" id="show_">
			<table class="table table-hover">
  				<thead>
					<tr>
						<th>#</th>
						<th>Titulo</th>
						<th></th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody id="list-quiz">
					
				</tbody>
			</table>
		</div>

		<!-- en caso tal de que quiera editar una quiz-->
		<div class="col-md-12" id="edit_" hidden>

			<br><br>
			<div class="col-md-6 col-sm-offset-3">
				<form class="" id="form_update_quiz" hidden>
		      		<button class="btn btn-default pull-right" type="submit" name="action">Actualizar</button>
		      	</form>
			</div>
		</div>

	</div>

{% endblock module %}

{% block scripts %}
	<script>
		EvaluationsView.get_all_Quiz();
	</script>
{% endblock scripts %}