{% extends "template_evaluations_parent.html" %}
{% comment %}
	template for list all questions
{% endcomment %}

{% load staticfiles %}

{% block section_title %}
	<h3 class="sub-section">Quices terminados</h3>
{% endblock section_title %}

{% block module %}
	<br><br>
	<div class="col-md-12">

		<!-- tabla con la lista de quices terminados -->
		<div class="col-md-12" id="marking">
			

			<div class="table-responsive">
				<table class="table table-hover">
	  				<thead>
						<tr>
							<th>Usuario</th>
							<th>Quiz</th>
							<th>Porcentaje correcto</th>
							<th>Preguntas pendientes</th>
							<!--<th></th>-->

						</tr>
					</thead>
					<tbody id="list-marking">
						
					</tbody>
				</table>
			</div>
		</div>

		<!-- div para colocar las respuestas a calificar -->
		<div class="col-md-12" id="container_qualify" hidden style="padding-bottom:100px">
			<div class="col-md-12" id="title"></div>
			<div class="col-md-12" id="container_request"></div>
			<div class="col-md-12">
				<button class="btn btn-default pull-right" id="back">Volver</button>
			</div>
			
		</div>
	</div>
{% endblock module %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			//
			EvaluationsView.get_all_marking_quiz()

			$('#back').click(function (e){
				location.reload();
			})
			
		});
	</script>
	
{% endblock scripts %}