{% extends "template_evaluations_parent.html" %}
{% comment %}
	template for datail quiz 
{% endcomment %}

{% load staticfiles %}

{% block module %}
	<br><br>

	<div class="col-md-12" style="padding-bottom:100px">
		<h3 class="title"></h3>
		<p id="pass-mark"></p>
		<p id="count-questions"></p>
		<p class="description"></p>
		<br>
		<!--<a class="btn-create" style="margin: 1em 45%;">empieza</a>-->

		
		
	</div>
{% endblock module %}

{% block scripts %}
	<script>
        jQuery(document).ready(function($) {
			EvaluationsView.get_Quiz()
			
		});
	</script>
	
{% endblock scripts %}