{% extends 'template_evaluations_parent.html' %}

{% block section_title %}
	<h3 class="sub-section">Quices</h3>
{% endblock section_title %}

{% block module %}
		
	
	<br><br>
	<div class="col-md-12">
	<div class="col-md-4">
	<p>Preguntas</p>
	<a href="{% url 'front_evaluations:questions' mod_slug %}">lista de preguntas</a><br>
	<a href="{% url 'front_evaluations:createEssay' mod_slug %}">crear pregunta ensayo</a><br>
	<a href="{% url 'front_evaluations:createMultichoice' mod_slug %}">crear pregunta multiopcion</a><br>
	<a href="{% url 'front_evaluations:createTrueFalse' mod_slug %}">crear pregunta verdadero/falso</a><br>
	<br>	
	</div>
	
	<div class="col-md-4">
	<p>Quices</p>
	<a href="{% url 'front_evaluations:quiz' mod_slug %}">quiz usuarios</a><br>
	<a href="{% url 'front_evaluations:quizAdmin' mod_slug %}">quiz admin</a><br>
	<a href="{% url 'front_evaluations:createQuiz' mod_slug %}">crear un quiz</a><br>
	<a href="{% url 'front_evaluations:markingQuiz' mod_slug %}">quices terminado</a><br>
	</div>
	</div>
	<div class=" col-md-12 container_quiz">
		
	</div>
		
{% endblock module %}

{% block scripts %}
	<script>
		EvaluationsView.get_all_Quiz_Users();
	</script>
{% endblock scripts %}